body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url('bg.png');
    background-size: cover; /* Pour que l'image couvre tout l'écran */
    background-attachment: fixed; /* Pour un effet de parallaxe sobre au scroll */
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f4f1ea; /* Couleur de secours proche du fond */
}

#connexionButton,#inscriptionButton{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submitConnexion1,#submitInscription2{
    background-color: #bb5b35;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#container{
    display: flex;
    gap: 10px;
}

#pageInscription{
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#pageConnexion{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}